.App {
  margin: auto;
}

.BtnDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: green;
}

.Button{
  border: 1px solid black;
  background-color: white;
  width: 20%;
  margin: auto;
}

.Button:hover{
  border: 3px solid black;
  font-weight: bold;
}

